[submodule "zsh/oh-my-zsh.symlink"]
    path = zsh/oh-my-zsh.symlink
    url = git://github.com/robbyrussell/oh-my-zsh.git
[submodule "vim/vim.symlink/bundle/Vundle.vim"]
    path = vim/vim.symlink/bundle/Vundle.vim
    url = git@github.com:gmarik/Vundle.vim.git
